<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="petra.tugas.imk_mbanking">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mnh_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mnh_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".mainMenu" />
        <activity android:name=".mInfo" />
        <activity android:name=".mPayment" />
        <activity android:name=".mTransfer" />
        <activity android:name=".beliPulsa" />
        <activity android:name=".bayarcc" />
        <activity android:name=".mCommerce" />
        <activity android:name=".plnprabayar" />
        <activity android:name=".gopay" />
        <activity android:name=".mtix" />
        <activity android:name=".tlpn" />
        <activity android:name=".hpprabayar" />
        <activity android:name=".vacc" />
        <activity android:name=".air" />
        <activity android:name=".plnpascabayar"></activity>
    </application>

</manifest>